################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.git/
obj/
static/
staticfiles/
externalizer/migrations/
logsearch/migrations/
virtualenv/
WebAppCollection/__pycache__/
dataporter/__pycache__/
externalizer/__pycache__/
logsearch/__pycache__/
morningcheck/__pycache__/
*.db
db.sqlite3
/db.sqlite3
/tests/__pycache__/__init__.cpython-311.pyc
/tests/__pycache__/baker_recipes.cpython-311.pyc
/tests/__pycache__/test_externalizerDbClient.cpython-311.pyc
/tests/__pycache__/test_externalizerPropertyParser.cpython-311.pyc
/tests/__pycache__/test_logsearchSshClient.cpython-311.pyc
/tests/__pycache__/test_settings.cpython-311.pyc
/.coverage
/db_BACKUP_440.sqlite3
/db_BASE_440.sqlite3
/db_LOCAL_440.sqlite3
/db_REMOTE_440.sqlite3
